<div class="row">
   <div class="col-sm-1 col-md-1 col-lg-1">
      <a href="#!/dashboard">CANCEL</a>
   </div>
   <div class="col-sm-10 col-md-10 col-lg-10">

      <h3>Create A New Poll</h3>
      <form name="post">

         <label for="question">Question:</label><br/>
         <input type="text" name="question" ng-model="newPoll.question"><br/>

         <label for="o1">Option 1:</label><br/>
         <input type="text" name="option1" ng-model="newPoll.option1"><br/>

         <label for="o2">Option 2:</label><br/>
         <input type="text" name="option2" ng-model="newPoll.option2"><br/>

         <label for="o3">Option 3:</label><br/>
         <input type="text" name="option3" ng-model="newPoll.option3"><br/>

         <label for="o1">Option 4:</label><br/>
         <input type="text" name="option4" ng-model="newPoll.option4"><br/>

         <button type='submit' ng-click="createPoll()">Create</button>
      </form>
   </div>
   <!-- ERRORS  + + + + + + + + + + + + + + + + + + -->

      <div ng-if="errors.length>0">
         <h3>ERRORS!</h3>
         <ul style='list-style:none;'>
            <li ng-repeat="error in errors">{{error}}</li>
            <hr/>
            <br/>
            <hr/>
         </ul>
      </div>
   <div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
