<a href="/#!/dashboard">Got To Polls</a><br/>
<!-- ROW ROW ROW ROW + + + + + + + + + + + + + + + + + + +  -->
<div class="row">
   <div class="col-sm-1 col-md-1 col-lg-1"></div>
   <div class="col-sm-10 col-md-10 col-lg-10">
      <h3>{{poll.question}}</th>
      Click the Vote button to choose one!

      <table class="table table-striped" ng-if="poll">
        <thead>
          <tr>
            <th>Option</th>
            <th>Current Count</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
             <td>{{poll.option1}}</td>
             <td>{{poll.option1_votes}}</td>
             <td><span ng-if="allowVoting"><span ng-click="vote(true,'option1_votes')"> LIKE</span></span></td>
        </tr>
        <tr>
           <td>{{poll.option2}}</td>
           <td>{{poll.option2_votes}}</td>
           <td><span ng-if="allowVoting"><span ng-click="vote(true,'option2_votes')"> LIKE</span></span></td>
     </tr>
     <tr>
        <td>{{poll.option3}}</td>
        <td>{{poll.option3_votes}}</td>
        <td><span ng-if="allowVoting"><span ng-click="vote(true,'option3_votes')"> LIKE</span></span></td>
   </tr>
   <tr>
      <td>{{poll.option4}}</td>
      <td>{{poll.option4_votes}}</td>
      <td><span ng-if="allowVoting"><span ng-click="vote(true,'option4_votes')"> LIKE</span></span></td>
 </tr>
      </tbody>
      </table>

   </div>
   <div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
<!-- end ROW ROW ROW ROW + + + + + + + + + + + + + + + + + + +  -->
